### Forestry data analysis activities 2.1

<div><img src="https://github.com/nicholasmetherall/python_activities/blob/main/additional-materials/mangrove_trees_vu.png?raw=true" width="650"/>

##### Remember to start from the top and run this code before commencing the subsequent activities below:

In [1]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

##### Introduction: 
You spent the last few days measuring trees for a forest inventory survey and have returned to the office to collate all of the data.

<div><img src="https://github.com/nicholasmetherall/python_activities/blob/main/additional-materials/mangrove_forestry_team.png?raw=true" width="450"/>

You now have a moderately large dataset but now comes the tricky part: data analysis.

#####  Step 1: Read your dataset 'trees_nm.csv' into a python dataframe using the following:    
trees = pd.read_csv('`dataset_name`')

Note, you need to edit the sections highlighted as code like `this example`

In [2]:
trees = pd.read_csv('trees_nm.csv')

In [3]:
trees

,Surveyor,GlobalID,Tree species scientific,Height of tree (m),DBH (cm),Density,x,y
0,Nick Metherall Nasolo June 2022,088df9e6-8f99-4b95-b191-4996d70c52f8,Carica papaya,3.90,5.3,0.75,177.682220,-17.572516
1,Nick Metherall Nasolo June 2022,52e56696-fcc5-4ead-a3c4-6943d9659211,Spathodea campanulata,8.20,11.8,0.45,177.683702,-17.572183
2,Nick Metherall Nasolo June 2022,b127db32-d95b-46c4-863c-60bac9561997,Spathodea campanulata,4.00,9.5,0.45,177.683416,-17.571672
3,Nick Metherall Nasolo June 2022,c5e61007-9ca3-49fe-8af2-be6e3c45a5d7,Spathodea campanulata,16.30,50.3,0.45,177.683687,-17.572132
4,Nick Metherall Nasolo June 2022,e7065e0a-a2fa-4f3b-a11d-5debd5634e51,Spathodea campanulata,17.40,53.2,0.45,177.683680,-17.572156
...,...,...,...,...,...,...,...,...
431,Mere Nick Nailaga July 2022,a5a55208-4cc8-4dd0-96b2-f3b93b73be21,Samanea saman,9.71,32.8,0.45,177.668023,-17.507451
432,Mere Nick Nailaga July 2022,8f2bf454-a2a0-40b0-a452-4068f4ece73a,Samanea saman,5.00,12,0.00,177.667937,-17.507486
433,Mere Nick Nailaga July 2022,342d6787-5f22-417b-8d2d-d43ecf086c11,Samanea saman,7.40,36.6,0.00,177.667946,-17.507519
434,Mere Nick Nailaga July 2022,2aa02d45-6624-428b-9723-ed11351794e7,Samanea saman,7.50,15.4,0.00,177.667953,-17.507515
435,Mere Nick Nailaga July 2022,5c043361-7a90-48c1-bd51-b62a37b79354,Samanea saman,5.80,13.1,0.00,177.667965,-17.507522

Rapidly run the following code cell by tapping 'shift'+'enter' keys together.

In [20]:
geometry = [Point(xy) for xy in zip(trees['x'], trees['y'])]
trees = gpd.GeoDataFrame(trees, geometry=geometry, crs="EPSG:4326")
'shift'+'enter'

'shiftenter'

Input `variable_name`

In [5]:
trees

,Surveyor,GlobalID,Tree species scientific,Height of tree (m),DBH (cm),Density,x,y,geometry
0,Nick Metherall Nasolo June 2022,088df9e6-8f99-4b95-b191-4996d70c52f8,Carica papaya,3.90,5.3,0.75,177.682220,-17.572516,POINT (177.68222 -17.57252)
1,Nick Metherall Nasolo June 2022,52e56696-fcc5-4ead-a3c4-6943d9659211,Spathodea campanulata,8.20,11.8,0.45,177.683702,-17.572183,POINT (177.6837 -17.57218)
2,Nick Metherall Nasolo June 2022,b127db32-d95b-46c4-863c-60bac9561997,Spathodea campanulata,4.00,9.5,0.45,177.683416,-17.571672,POINT (177.68342 -17.57167)
3,Nick Metherall Nasolo June 2022,c5e61007-9ca3-49fe-8af2-be6e3c45a5d7,Spathodea campanulata,16.30,50.3,0.45,177.683687,-17.572132,POINT (177.68369 -17.57213)
4,Nick Metherall Nasolo June 2022,e7065e0a-a2fa-4f3b-a11d-5debd5634e51,Spathodea campanulata,17.40,53.2,0.45,177.683680,-17.572156,POINT (177.68368 -17.57216)
...,...,...,...,...,...,...,...,...,...
431,Mere Nick Nailaga July 2022,a5a55208-4cc8-4dd0-96b2-f3b93b73be21,Samanea saman,9.71,32.8,0.45,177.668023,-17.507451,POINT (177.66802 -17.50745)
432,Mere Nick Nailaga July 2022,8f2bf454-a2a0-40b0-a452-4068f4ece73a,Samanea saman,5.00,12,0.00,177.667937,-17.507486,POINT (177.66794 -17.50749)
433,Mere Nick Nailaga July 2022,342d6787-5f22-417b-8d2d-d43ecf086c11,Samanea saman,7.40,36.6,0.00,177.667946,-17.507519,POINT (177.66795 -17.50752)
434,Mere Nick Nailaga July 2022,2aa02d45-6624-428b-9723-ed11351794e7,Samanea saman,7.50,15.4,0.00,177.667953,-17.507515,POINT (177.66795 -17.50751)
435,Mere Nick Nailaga July 2022,5c043361-7a90-48c1-bd51-b62a37b79354,Samanea saman,5.80,13.1,0.00,177.667965,-17.507522,POINT (177.66796 -17.50752)

Figure out how many trees there are in the dataset? Use `len(variable_name)`

In [6]:
len(trees)

436

How many papaya trees did you measure? You will need to search to find the scientific name.  

count = (trees['`insert species column name`'] == '`insert papaya tree scientific name`').sum()

In [7]:
count = (trees['Tree species scientific'] == 'Carica papaya').sum()

In [8]:
count

71

Using the above example of how to calculate this using the code figure out how many of each of the following trees you measured? Enter your code below the comments: 

1. African tulips
2. Raintrees
3. Rhizophora spp.
4. Bruguiera spp.
5. Banana

In [9]:
#1 African tulips
count = (trees['Tree species scientific'] == 'Spathodea campanulata').sum()
print(count)

53

In [24]:
#2 Raintrees
count=(trees['Tree species scientific']=='Samane saa').sum()
print(count)

53

In [11]:
#3 Rhizophora spp.

In [12]:
#4 Bruguiera spp.

In [13]:
#5 Banana

Example of how to calculate the minimum height for all papaya trees measured within the dataset. You will need to enter the papaya tree scientific name: 

min_height = trees.loc[trees['Tree species scientific'] == '`insert papaya tree variable`', 'Height of tree (m)'].min()

Then use `print(min_height)` to display

Replicate this process for the max height and then the average using the `.max()` and `.mean()` functions, respectively. Enter your code below the comments:

In [14]:
#1 .max()

In [15]:
#2 .mean()

Now work out the min, max and mean dbh values for the Rhizophora spp. and Bruguiera spp.

In [16]:
#3 Rhizophora spp.

#3.1 .min()
#3.2 .max()
#3.3 .mean()

In [17]:
#4 Bruguiera spp.

#4.1 .min()
#4.2 .max()
#4.3 .mean()

#### Calculate the Above Ground Biomass (AGB) for the following trees:

##### One common form of the equation is AGB = a(ρD²H)ᵇ, where:  

AGB: is the aboveground biomass.  
ρ: is the wood density.  
D: is the diameter at breast height (DBH).  
H: is the total tree height.  

Define each parameter in this equation within a variable:

In [18]:
print(trees.columns)

Index(['Surveyor', 'GlobalID', 'Tree species scientific', 'Height of tree (m)',
       'DBH (cm)', 'Density', 'x', 'y', 'geometry'],
      dtype='object')

To inspect the dataset just enter the variable name below `trees`

#### Define the equation as another variable

In [19]:
trees['DBH (cm)'] = pd.to_numeric(trees['DBH (cm)'], errors='coerce')
trees['Density'] = pd.to_numeric(trees['Density'], errors='coerce')
trees['Height of tree (m)'] = pd.to_numeric(trees['Height of tree (m)'], errors='coerce')

p = trees['Density']

##### Define the other two variables in the formula following the example of density :

`p = trees['Density']`

Hint: you will need to define new variables for DBH and height.

##### Define the formula in a new variable 
AGB = `variable_a` * `variable_b` * `variable_c`

#### Incorporate the new column  
trees['AGB'] = `insert AGB variable`

To inspect the revised dataset with an ABG column re-enter the variable name below `trees`

Let's now plot the locations of these trees...   
`insert_variable.explore()`

What was the location of your surveys?

We want to make a map that only includes the papaya trees from the survey. Try to use the following code to make this map: 

papaya = trees.loc[trees['`insert tree species column`'] == '`insert papaya species scientific name`']

Now explore this map by using te papaya `variable`.explore()

#### Lots of map

Now repeat these steps and visualise maps for the following trees: 

1. African tulips
2. Raintrees
3. Rhizophora spp.
4. Bruguiera spp.
5. Banana

### Activity - Complete

Well done you have completed this activity on pandas and geopandas that could be useful for mangrove and other data analysis. Let your instructor now or if you have finished early, try out the bonus activity below:

#### Bonus activity

You have been contacted by the PS of the Ministry of Forestry. He has requested that you put together a map and report from your recent survey of all the trees with an above ground biomass of greater than 200 tonnes.  

1. First create a map of all these larger trees
2. List counts of the total number of larger trees
3. Identify three of the species trees from this subset list of larger trees
4. List the counts of these three species
5. Identify the min, max and mean ABG of these larger trees
6. Identify the min, max and mean height of these larger trees

### Bonus Activity - Complete
Impressive work!